/* ============================================================

320 and Up by Andy Clarke
Version: 3.0
URL: http://stuffandnonsense.co.uk/projects/320andup/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

============================================================ */
/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Variables =================================================== */
/* Mixins =================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
/* Page =================================================== */
html {
  background: #ffffff;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #000000;
}
header {
  background-color: black;
  color: white;
  padding: 3% 6.25%;
  position: relative;
}
header #icons {
  float: left;
  width: 24px;
  margin-right: 5.8824%;
}
header #icons a {
  display: block;
  width: 24px;
  height: 23px;
  margin-bottom: 10px;
}
header #contact {
  float: left;
}
header #ident-wrapper {
  position: absolute;
  top: -47px;
  right: 6.25%;
  width: 136px;
  height: 136px;
  background: white;
  -moz-border-radius: 68px;
  -webkit-border-radius: 68px;
  border-radius: 68px;
  overflow: hidden;
}
header #ident-wrapper #ident-top,
header #ident-wrapper #ident-bottom {
  text-align: center;
  position: relative;
}
header #ident-wrapper #ident-top {
  margin-top: 12px;
  height: 50px;
}
header #ident-wrapper #ident-top span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
header #ident-wrapper #ident-bottom {
  padding: 5px 10px;
}
header #main-nav {
  clear: both;
  padding-top: 18px;
}
/*
 * MAIN BODY STUFF
 */
#page-content-container {
  padding: 3% 6.25%;
}
#page-content-container h1 {
  clear: both;
}
/*
 * STUDENT PROFILE
 */
#page-content-container .anchor-wrapper {
  margin-bottom: 3em;
  border-bottom: 1px dotted #939598;
  padding-bottom: 1em;
  height: 133px;
}
#page-content-container .anchor-wrapper .anchor-block .anchor-left {
  float: left;
  width: 50%;
}
#page-content-container .anchor-wrapper .anchor-block .anchor-right {
  float: right;
  width: 50%;
}
#page-content-container .anchor-wrapper .anchor-block .anchor-right .anchor-text {
  height: 73px;
  width: 200px;
  float: right;
}
#page-content-container .anchor-wrapper .anchor-block .anchor-right .circle-wrapper {
  float: right;
}
#page-content-container .anchor-wrapper .anchor-block .anchor-right .circle-wrapper .anchor-text {
  float: none;
  height: 100%;
}
#page-content-container .anchor-wrapper .anchor-block .anchor-right .circle-wrapper .link-words-2,
#page-content-container .anchor-wrapper .anchor-block .anchor-right .circle-wrapper .link-words-2 a {
  padding-top: 50px;
}
#student-profile-container {
  clear: both;
  margin-top: 3em;
  border-top: 1px dotted #939598;
  padding-top: 1em;
}
#student-profile-container #student-profile-image {
  text-align: center;
}
#student-profile-container #student-profile-image .circle-wrapper {
  margin: 0 auto;
}
/*
 * FACILITIES
 */
body.facilities #page-content-container {
  padding: 6.25%;
}
#page-content-container .location {
  margin-bottom: 25px;
}
#page-content-container .location .location-image {
  float: left;
  width: 68px;
  margin-right: 3.6765%;
  text-align: center;
}
#page-content-container .location .location-image .circle-wrapper {
  margin: 0 auto;
}
#page-content-container .location .location-text {
  float: left;
  width: 55.147%;
}
#page-content-container .location .location-text p {
  margin: 1.838% 0;
}
/*
 * ART GALLERY
 */
body.artgallery #page-content-container {
  padding: 6.25%;
}
#page-content-container #gallery-container #gallery-large-photo {
  text-align: center;
}
#page-content-container #gallery-container #gallery-large-photo .circle-wrapper {
  margin: 0 auto;
}
#page-content-container #gallery-container #gallery-small-photos {
  text-align: center;
}
#page-content-container #gallery-container #gallery-small-photos .gallery-small-photo {
  width: 68px;
  display: inline;
}
/*
 * FOOTER
 */
footer {
  background-color: black;
  color: white;
  padding: 6.25%;
  text-align: right;
}
footer .logo {
  margin: 15px 0;
}
#layout {
  width: 100%;
  max-width: 569px;
  margin: 0 auto;
}
/* Typography =================================================== */
/*
@font-face {
  font-family: Gotham Book;
  src: url(../fonts/Gotham/Gotham-Book.otf) format("opentype");
}

@font-face {
  font-family: Gotham Rounded Medium;
  src: url(../fonts/GothamRounded/GothamRounded-Medium.otf) format("opentype");
}

@font-face {
  font-family: Gotham Rounded Book;
  src: url(../fonts/GothamRounded/GothamRounded-Book.otf) format("opentype");
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
small {
  font-size: 14px;
  font-size: 1.4rem;
}
ul,
ol {
  margin: 0 0 1.5em -6.25%;
  padding: 0 0 0 6.25%;
}
li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
blockquote {
  margin: 0 0 1.5em -6.25%;
  padding-left: 6.25%;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
cite {
  font-style: normal;
}
dl,
dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: bold;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}
abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
ins {
  background-color: #f3f5f6;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #f3f5f6;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
header {
  /* main navigation */

}
header #contact a {
  text-transform: uppercase;
  font-size: 9px;
  text-decoration: none;
}
header #ident-wrapper #ident-top {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1em;
  font-weight: bold;
}
header #ident-wrapper #ident-bottom {
  font-size: 15px;
  line-height: 16px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
header #main-nav ul {
  margin: 0 11px 0 -11px;
  padding: 0;
}
header #main-nav ul li {
  list-style-type: none;
  color: white;
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 3px 0;
  padding: 0 0 0 14px;
}
header #main-nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
}
header #main-nav ul li ul {
  margin: 0;
  padding-left: 6px;
  display: none;
}
header #main-nav ul li ul li {
  font-size: 10px;
  line-height: 12px;
  margin: 8px 0;
  padding: 0;
}
header #main-nav ul li ul li a {
  text-transform: none;
  font-size: 10px;
  line-height: 12px;
}
header #main-nav ul li.active,
header #main-nav ul li.active ul li {
  padding-left: 14px;
}
header #main-nav ul li.active ul {
  display: block;
}
header #main-nav ul li.active ul li ul {
  display: none;
}
header #main-nav ul li.active ul li.active ul {
  display: block;
}
header #main-nav ul .menu-action {
  color: #f4e71a;
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
  line-height: 1em;
}
header #main-nav ul ul .menu-action {
  margin-left: 7px;
  font-size: 16px;
  line-height: 12px;
}
/*
 * MAIN PAGE
 */
#page-content-container h1 {
  font-size: 26px;
  line-height: 30px;
  color: #414042;
}
#page-content-container h4 {
  font-size: 16px;
  line-height: 20px;
  color: #414042;
  font-weight: bold;
}
#page-content-container .highlight {
  font-weight: bold;
  color: #5f1ff2;
}
#page-content-container p {
  font-size: 14px;
  line-height: 18px;
  margin: 1em 0;
  color: #414042;
}
#page-content-container p.highlight {
  font-size: 16px;
  line-height: 22px;
}
#page-content-container ul,
#page-content-container ol {
  margin-left: 0;
  padding-left: 3.125%;
}
#page-content-container ul li,
#page-content-container ol li {
  font-size: 14px;
  line-height: 18px;
}
#page-content-container a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #f7001f;
}
#page-content-container a.call-to-action {
  font-size: 18px;
  line-height: 20px;
}
#page-content-container a:hover {
  color: #414042;
}
/*
 * STUDENT PROFILE
 */
#page-content-container .anchor-block .anchor-text,
#page-content-container .anchor-block .anchor-text a {
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
  padding-top: 60px;
}
#student-profile-text h4 {
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
  color: #5f1ff2;
}
#student-profile-text p {
  margin-top: 0;
}
#student-profile-text blockquote {
  font-style: italic;
  color: #5f1ff2;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
 * FOOTER
 */
footer p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}
footer p.headline {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}
footer p.legal {
  font-size: 10px;
  line-height: 16px;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
/* Colour =================================================== */
header #icon-search {
  background: transparent url(../images/icon_search.png) top left no-repeat;
}
header #icon-search:hover,
header #icon-search:active,
header #icon-search:focus {
  background-position: 0 -23px;
}
header #icon-home {
  background: transparent url(../images/icon_home.png) top left no-repeat;
}
header #icon-home:hover,
header #icon-home:active,
header #icon-home:focus {
  background-position: 0 -23px;
}
header #contact a {
  color: #f4e71a;
}
header #contact a:hover {
  color: white;
}
header #ident-wrapper {
  background: #ffffff url(../images/bg_ident.png) 0 47px repeat-x;
}
header #ident-wrapper #ident-top {
  color: white;
}
header #ident-wrapper #ident-bottom {
  color: #414042;
}
header #main-nav ul li.active {
  background: transparent url(../images/red_arrow.png) 0 8px no-repeat;
}
header #main-nav ul li.active ul li {
  background-image: none;
}
header #main-nav ul li.active ul li.active {
  background-image: url(../images/red_dot.png);
  background-position: 0 4px;
}
/*
 * MAIN BODY STUFF
 */
#page-content-container {
  background-color: #e7e8e9;
}
#page-content-container .anchor-block .anchor-text {
  background-color: black;
  color: #f4e71a;
}
#page-content-container .anchor-block .anchor-text a {
  color: #f4e71a;
}
#page-content-container .anchor-block .anchor-text a:hover {
  color: white;
}
/*
 * FOOTER
 */
footer a {
  color: #f7001f;
}
/* Elements =================================================== */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid #ffffff;
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin-bottom: 1.5em;
}
figure img {
  margin-bottom: 0.375em;
}
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #808080;
}
.list-bordered {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
.list-bordered li {
  margin-bottom: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: 1px dashed #c7ced6;
}
.list-bordered li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}
/* Forms =================================================== */
form {
  margin: 0 0 1.5em 0;
}
form fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
form legend {
  display: block;
  width: 100%;
  margin-bottom: 3em;
  *margin-left: -7px;
  padding: 0;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #8c9bab;
  white-space: normal;
}
form legend small {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
form p {
  margin-bottom: 0.75em;
}
form ul {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
form br {
  display: none;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle;
}
input,
button,
select,
textarea {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
label input,
label textarea,
label select {
  display: block;
}
input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: #ffffff;
  border: 1px solid #8c9bab;
  color: #000000;
}
input:hover,
textarea:hover,
select:hover {
  border-color: #586879;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}
select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}
select {
  width: auto;
  background-color: #ffffff;
  font-size: 13px;
  font-size: 1.3rem;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  resize: vertical;
  height: auto;
  overflow: auto;
  vertical-align: top;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed;
}
input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}
input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}
.help-block,
.help-inline {
  color: #808080;
}
.help-block {
  display: block;
  margin-bottom: 0.75em;
}
.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}
.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}
.form-inline label {
  display: inline-block;
}
.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.form-search label {
  display: inline-block;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
/* Tables =================================================== */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: left;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #8c9bab;
}
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #a9b4c1;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6;
}
@media print {
  /* Print =================================================== */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  @page  {
    margin: 0.5cm;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  pre,
  blockquote {
    border: 1px solid #808080;
    page-break-inside: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
}
@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  body {
    max-width: 1440px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
}
/* 320 and Up */
/* Modules upstart */
/* Version: 1.0 */
/* Author: Andy Clarke */
/* URL: http://stuffandnonsense.co.uk/projects/320andup */
.grid {
  margin-bottom: 1.5em;
  border-bottom: 1px dashed #c7ced6;
}
.grid:last-child {
  margin-bottom: 0;
  border-bottom-width: 0;
}
.furniture-letter {
  overflow: hidden;
}
.furniture-letter span {
  display: block;
  float: left;
  margin: 0 12px 0 0;
  height: 44px;
  width: 44px;
  background-color: #2d353e;
  color: #ffffff;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  /* Styles */
}
@media only screen and (min-width: 600px) {
  /* Styles */
}
@media only screen and (min-width: 768px) {
  .grids-two .grid {
    width: 43.03%;
    margin-bottom: 0;
    border-bottom-width: 0;
  }
  .grids-two .grid-1 {
    float: left;
  }
  .grids-two .grid-2 {
    float: right;
  }
  .grids-three .grid-a {
    float: left;
    width: 31.64%;
    margin-right: 2.53%;
  }
  .grids-four .grid-a {
    float: left;
    width: 31.64%;
    margin-right: 2.53%;
  }
}
@media only screen and (min-width: 992px) {
  .grids-three .grid {
    float: left;
    width: 31.64%;
    margin: 0 2.53% 0 0;
    border-bottom-width: 0;
  }
  .grids-three .grid-3 {
    float: right;
    margin-right: 0;
  }
  .grids-three .grid .grid-a {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.75em;
  }
  .grids-four .grid {
    float: left;
    width: 20.25%;
    margin: 0 6.32% 0 0;
    border-bottom-width: 0;
  }
  .grids-four .grid-4 {
    float: right;
    margin-right: 0;
  }
  .grids-four .grid .grid-a {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1382px) {
  /* Styles */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* 320 and Up */
/* Panels Upstart */
/* Version: 1.0 */
/* Author: Andy Clarke */
/* URL: http://stuffandnonsense.co.uk/projects/320andup */
.full {
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: #f3f5f6;
  border-top: 2px solid #c7ced6;
  border-bottom: 2px solid #c7ced6;
}
.full .grids {
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
}
@media only screen and (min-width: 480px) {
  /* Styles */
}
@media only screen and (min-width: 600px) {
  /* Styles */
}
@media only screen and (min-width: 768px) {
  .special .grids-three .grid-a,
  .special .grids-four .grid-a {
    width: 43.03%;
  }
}
@media only screen and (min-width: 992px) {
  .special .grids-three .grid-a,
  .special .grids-four .grid-a {
    width: 100%;
  }
}
@media only screen and (min-width: 1382px) {
  /* Styles */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
