// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Colour =================================================== */

header {

	// search and home icons
	#icon-search {
		background: transparent url(../images/icon_search.png) top left no-repeat;
	}
	#icon-search:hover,
	#icon-search:active,
	#icon-search:focus {
		background-position: 0 -23px;
	}
	#icon-home {
		background: transparent url(../images/icon_home.png) top left no-repeat;
	}
	#icon-home:hover,
	#icon-home:active,
	#icon-home:focus {
		background-position: 0 -23px;
	}

	// contact
	#contact a {
		color: @rpiyellow;
	}
	#contact a:hover {
		color: white;
	}

	// big ident circle
	#ident-wrapper {
		background: white url(../images/bg_ident.png) 0 47px repeat-x;
	}
	#ident-wrapper #ident-top {
		color: white;
	}
	#ident-wrapper #ident-bottom {
		color: @rpigray;
	}
	
	// main navigation
	#main-nav ul li.active {
		background: transparent url(../images/red_arrow.png) 0 8px no-repeat;
		
		ul li {
			background-image: none;
		}
		
		ul li.active {
			background-image: url(../images/red_dot.png);
			background-position: 0 4px;
		}
	}
	
}


/*
 * PAGE HEADER NAV
 */
#page-header #page-nav-container {
	background-color: black;
	
	div.sep {
		background: transparent url(../images/header_nav_sep.jpg) center center no-repeat;
	}
}


#news {
	background-color: @rpilightgray2;
}


#media {
	background-color: black;
}

.dark-gray-section.concave {
	background: transparent url(../images/curve_wg_concave.jpg) top left no-repeat;
	background-size: 100%;
}

.black-section.convex {
	background: transparent url(../images/curve_gb_convex.jpg) top left no-repeat;
	background-size: 100%;
}


/*
 * MAIN BODY STUFF
 */
.content-container {
	background-color: #e7e8e9;
}
body.home #main-content-container {
	// i have no idea why this one is a completely different color
	// thank god i'm not a designer
	background-color: #e5e5e5;
}

.content-container .anchor-block .anchor-text {
	background-color: black;
	color: @rpiyellow;
	
	a {
		color: @rpiyellow;
	}
	a:hover {
		color: white;
	}
}



/*
 * FOOTER
 */

footer a {
	color: @rpired;
}