
#layout {
	width: 100%;
	min-width: 570px;
	max-width: 1020px;
	margin: 0 auto;
}

.small-only {
	display: none;
}
.large-only {
	display: block;
}

header {
	background: black url(../images/header_bgs/header_bg_violet.jpg) bottom right no-repeat;
	min-height: 250px;
	overflow: hidden;

	#ident-wrapper {
		width: 170px;
		height: 170px;
		-moz-border-radius: 85px;
		-webkit-border-radius: 85px; 
		border-radius: 85px;
		
		#ident-top,
		#ident-top a {
			font-size: 14px;
		}
		#ident-bottom,
		#ident-bottom a {
			font-size: 18px;
			line-height: 19px;
		}
	}

}

body.home header {
	min-height: 584px;
	background: black url(../images/header_bgs/home_large_violet.jpg) bottom right no-repeat;
	
	#ident-wrapper {
		width: 340px;
		height: 340px;
		-moz-border-radius: 170px;
		-webkit-border-radius: 170px; 
		border-radius: 170px;
		background-position: 0 115px;
		top: -115px;
		
		#ident-top {
			margin-top: 90px;
		}
		#ident-top,
		#ident-top a {
			font-size: 18px;
		}
		#ident-bottom,
		#ident-bottom a {
			font-size: 38px;
			line-height: 42px;
			padding-top: 25px;
		}
	}
	
}

header #contact {
	float: none;
	position: absolute;
	left: 27px;
	
	a {
		font-size: 12px;
		font-weight: 700;
	}
}

header #icons {

	float: none;
	position: absolute;
	top: 12px;
	right: 1.96%;
	margin: 0;

	#icon-home {
		display: none;
	}
	#icon-search {
		height: 29px;
		width: 30px;
		background-image: url(../images/icon_search_large.png);
	}
	#icon-search:hover,
	#icon-search:active,
	#icon-search:focus {
		background-position: 0 -29px;
	}
	
}


/* MAIN NAVIGATION */
header #main-nav {

	ul {
		position: absolute;
		top: 35px;
		left: 12px;
		margin: 0;
		width: 100%;
		
		li {
			width: 20%;
		}
				
		li.active {
			background-position: 0px 11px;
		}
		
		/* hide third level if it belongs to a second level that is not active */
		li ul li ul {
			display: none;
		}
		li ul li.active ul {
			display: block;
		}
				
		/* second level / column */
		li.active ul {
			position: absolute;
			top: 0;
			left: 22.95%;
			border-left: 2px solid @rpipurple;
			height: 115%;
			width: 22.95%;
						
			li {
				width: 100%;
				padding-left: 10%;
			}
			
			li.first {
				margin-top: 0;
			}
	
			li.active {
				background-position: 2% 5px;
				
				/* third level / column */
				ul {
					left: 100%;
					width: 100%;
					height: 100%;
					
					li {
						width: 75%;
					}
				}
			}
		}
		
	}
	
	.menu-action {
		display: none;
	}
	
}


#page-header .page-header-image {
	display: none;
}

#page-header #page-nav-container {
	
	div.page-link {
		width: 11.5%;
		
		a {
			font-size: 18px;
			line-height: 19px;
		}
	}
	
	div.sep {
		background-image: url(../images/header_nav_sep_large.jpg);
		min-height: 38px;
		width: 2.5%;
	}
	
}




/* ACTUAL CONTENT STUFF */
#breadcrumb {
	display: block;
	margin-bottom: 3%;
}
.anchor-wrapper {
	display: none;
}

.content-container {
	padding: 2% 6.25% 275px;
	background-image: url(../images/content_bg.png);
	background-position: top right;
	background-repeat: no-repeat;
	
	h1,
	h2 {
		font-size: 48px;
		line-height: 52px;
	}
		
	h3 {
		font-size: 30px;
		line-height: 36px;
	}
	
	h4,
	h5,
	h6,
	a.call-to-action {
		font-size: 22px;
		line-height: 24px;
	}
	
	a,
	p,
	ul li,
	ol li {
		font-size: 16px;
		line-height: 24px;
	}

	ul,
	ol {
		margin: 3em 0;
		
		li {
			margin: 1em 0;
		}
	}
	
	p.highlight {
		font-size: 26px;
		line-height: 34px;
	}
	
}
body.home .content-container {
	background-image: none;
	padding-bottom: 2%;
}
#magic-overlay-wrapper {

	position: relative;

	#magic-overlay {
		position: absolute;
		top: 0;
		right: 0;
		height: 1110px;
		width: 300px;
		background-image: url(../images/content_bg.png);
		background-position: top right;
		background-repeat: no-repeat;
	}
}

body.artgallery #main-content-container {
	padding-top: 2%;
}

.content-split {
	float: left;
	width: 60%;
}
body.artgallery .content-split {
	width: 46.667%;	
}
#home-content {
	margin-right: 33%;
}

#image-container {
	display: block;
}	



/* NEWS ON THE HOME PAGE */
body.home #news {

	h2 {
		margin-bottom: 0.5em;
	}

	.news-item {
		float: left;
		width: 31%;
		margin-right: 3%;
		
		.highlight {
			font-size: 24px;
			line-height: 34px;
		}
		
		img,
		.circle-wrapper {
			float: left;
			width: 82px;
			margin: 1%;
		}
		
	}
	.news-item.last {
		margin-right: 0;
	}
	
}



/* STUDENT PROFILE */
#student-profile-container {
	clear: none;
	float: right;
	width: 26.5625%;
	margin-top: 0;
	padding-top: 0;
	border: 0;
	
	#student-profile-text {
		margin: 20px 0 0 11%;
		border-left: 3px dotted @rpilightgray3;
		padding-left: 7%;
		
		h4 {
			font-size: 22px;
			line-height: 24px;
		}
		
		p,
		blockquote {
			font-size: 15px;
			line-height: 23px;
		}
		
	}
}



/**
 * MEDIA GALLERY
 */
body.home {

	#media h2 {
		padding: 1% 6.25% 2%;
	}
	
	#media {
		background: black url(../images/media_bg.jpg) bottom right no-repeat;
		padding-bottom: 319px;
	}

	#carousel {
	
		margin-top: 0;
	
		li {
		
			float: left;
			margin: 0;
		
			img {
				width: 100%;
				height: auto;
			}
		
		}
	
	}
	
	#carousel.column-5 li {
		width: 20%;
	}
	#carousel.column-4 li {
		width: 25%;
	}
	#carousel.column-3 li {
		width: 33%;
	}
	
	.go-overlay-media {
		position: absolute; 
		top: 0; 
		left: 0; 
		background: transparent url(../images/media_video.png) center center no-repeat; 
		height: 100%; 
		width: 100%;
	}
	.go-overlay-audio {
		background-image: url(../images/media_audio.png);
	}


}




/* ART GALLERY */
#gallery-container {
	clear: none;
	float: right;
	width: 50%;
	margin-top: 0;
	padding-top: 0;
	
	td {
		display: table-cell;
	}
	td.small-only {
		display: none;
	}
}



/**
 * FOOTER
 */
footer {
	clear: both;
	position: relative;
	padding: 275px 0 0 0;
	font-size: 16px;
	line-height: 24px;
	margin-top: -275px;
	
	background-color: transparent;
	background-image: url(../images/footer_bg.png);
	background-position: top right;
	background-repeat: no-repeat;
	
	.logo {
		position: absolute;
		bottom: -40%;
		left: 0;
		margin: 0;
		height: auto;
		width: auto;
	}
	
	.legal {
		position: absolute;
		bottom: -40%;
		right: 0;
	}
		
	#footer-container {
		background-color: black;
		padding: 0 6.667%;
		
		#footer-text {
			position: relative;
			top: -9em;
		}
		
	}
	
}
