// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Typography =================================================== */


// FONT FACE http://www.font-face.com

/*
@font-face {
  font-family: Gotham Book;
  src: url(../fonts/Gotham/Gotham-Book.otf) format("opentype");
}

@font-face {
  font-family: Gotham Rounded Medium;
  src: url(../fonts/GothamRounded/GothamRounded-Medium.otf) format("opentype");
}

@font-face {
  font-family: Gotham Rounded Book;
  src: url(../fonts/GothamRounded/GothamRounded-Book.otf) format("opentype");
}
*/


// HEADINGS ====================================================

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
margin : 0;
font-family : @baseheadingfont;
font-weight : @baseheadingfontweight;
color : @baseheadingfontcolor;
text-rendering : optimizelegibility; }


// TYPOGRAPHY ====================================================

p, 
ol, 
ul, 
dl, 
address { 
margin-bottom : @baselineheight; 
.font-size(14);
line-height : @baselineheight; }

small { 
.font-size(14); }

ul, 
ol { 
margin : 0 0 @baselineheight -@gutterwidth; 
padding : 0 0 0 @gutterwidth; }

li ul, 
li ol { 
margin : 0;
.font-size(16); }

// blockquote

blockquote  { 
margin : 0 0 @baselineheight -@gutterwidth; 
padding-left : @gutterwidth; 
font-family : @altfont;
font-style : normal; }

q { 
quotes : none; }

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
content : '';
content : none; }

cite {
font-style : normal; } 

// definition lists

dl, 
dd { 
margin-bottom : @baselineheight;  }

dt { 
font-weight : bold; }

.dl-horizontal {

dt {
float : left;
clear : left;
width : 20.25%;
text-align : right; }

dd {
margin-left : 22.78%; } 
}

// text-level

abbr[title] { 
border-bottom : 1px dotted @bordercolor; 
cursor : help; }

b, strong { 
font-weight : bold; }

dfn { 
font-style : italic; }

ins { 
background-color : lighten(@basecolor, 75%); 
color : @textcolor; 
text-decoration : none; }

mark { 
background-color : lighten(@basecolor, 75%); 
color : @textcolor; 
font-style : italic; 
font-weight : bold; }

pre, 
code, 
kbd, 
samp { 
font-family : @codefont;
.font-size(14);
line-height : @baselineheight; }

pre { 
white-space : pre; 
white-space : pre-wrap; 
word-wrap : break-word; }

sub, 
sup { 
position : relative;
.font-size(12);
line-height : 0; 
vertical-align : baselineheight; }

sup { 
top : -.5em; }

sub { 
bottom : -.25em; }


header {
	#contact a {
		text-transform: uppercase;
		font-size: 9px;
		text-decoration: none;
	}
	
	#ident-wrapper {
		#ident-top,
		#ident-top a {
			text-transform: uppercase;
			font-size: 12px;
			line-height: 1em;
			font-weight: bold;
			text-decoration: none;
			color: white;
		}
		#ident-bottom {
			font-size: 15px;
			line-height: 16px;
			font-family: @altfont;
			font-weight: bold;
		}
	}
	
	/* main navigation */
	#main-nav {
		ul {
			margin: 0 11px 0 -11px;
			padding: 0;
		}
		ul li {
			list-style-type: none;
			color: white;
			font-size: 13px;
			line-height: 24px;
			margin: 0 0 3px 0;
			padding: 0 0 0 14px;
			
			a {
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 13px;
				line-height: 24px;
			}
			
			ul {
				margin: 0;
				padding-left: 6px;
				display: none;
			}
			
			ul li {
				font-size: 10px;
				line-height: 12px;
				margin: 8px 0;
				padding: 0;
			
				a {
					text-transform: none;
					font-size: 10px;
					line-height: 12px;
				}
			}
		}

		ul li.active,
		ul li.active ul li {
			padding-left: 14px;
		}
		
		ul li.active ul {
			display: block;
			
			li ul {
				display: none;
			}
			
			li.active ul {
				display: block;
			}
			
		}
	}
	
	#main-nav ul .menu-action {
		color: @rpiyellow;
		font-weight: bold;
		margin-left: 10px;
		font-size: 20px;
		line-height: 1em;		
	}
	#main-nav ul ul .menu-action {
		margin-left: 7px;
		font-size: 16px;
		line-height: 12px;
	}
	
}


/*
 * PAGE NAV
 */
div.page-link {
	text-align: center;
	font-size: 10px;
	line-height: 11px;
	
	a {		
		color: @rpiyellow;
		font-size: 10px;
		line-height: 11px;
		font-weight: bold;
		text-decoration: none;
	}
}
div.page-link a:hover {
	color: white;
}
div.page-link-out a {
	color: @rpired;
}
div.page-link-out a:hover {
	color: white;
}



/* BREADCRUMBS */
#breadcrumb {
	font-size: 12px;
	line-height: 12px;
	color: @rpilightgray3;
	
	a {
		font-size: 12px;
		line-height: 12px;
		color: @rpired;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: normal;
	}
	
	a.current {
		font-weight: bold;
	}
	
	a:hover {
		color: @rpigray;
	}
}


/*
 * MAIN PAGE
 */
.content-container {
	h1 {
		font-size: 26px;
		line-height: 30px;
		color: @rpigray;
	}
	
	h2 {
		font-size: 26px;
		line-height: 30px;
		color: @rpired;
	}
	
	h2.light {
		color: @rpilightgray;
	}
	
	h4 {
		font-size: 16px;
		line-height: 20px;
		color: @rpigray;
		font-weight: bold;
	}
	
	.highlight {
		font-weight: bold;
		color: @rpipurple;
	}	
	
	p {
		font-size: 14px;
		line-height: 18px;
		margin: 1em 0;
		color: @rpigray;
	}
	p.highlight {
		font-size: 16px;
		line-height: 22px;
	}
	
	ul, ol {
		margin-left: 0;
		padding-left: 3.125%;
		li {
			font-size: 14px;
			line-height: 18px;
		}
	}
	
	a {
		text-decoration: none;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: @rpired;
	}
	a.call-to-action {
		font-size: 18px;
		line-height: 20px;
	}
	a:hover {
		color: @rpigray;
	}
	a.read-more {
		color: @rpigray;
	}
	a.read-more:hover {
		color: @rpired;
	}
	
}



/*
 * STUDENT PROFILE
 */
 #main-content-container {
	.anchor-block .anchor-text,
	.anchor-block .anchor-text a {
		text-align: center;
		font-size: 17px;
		line-height: 19px;
		font-weight: bold;
		padding-top: 60px;
	}
}
#student-profile-text {

	h4 {
		font-size: 17px;
		line-height: 19px;
		font-weight: bold;
		color: @rpipurple;
	}
	
	p {
		margin-top: 0;
	}
	
	blockquote {
		font-style: italic;
		color: @rpipurple;
		font-family: @altfont;
	}
}



/*
 * FOOTER
 */

footer {
	p {
		margin: 0;
		font-size: 12px;
		line-height: 18px;	
	}

	p.headline {
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;
	}

	p.legal {
		font-size: 10px;
		line-height: 16px;
	}
	
	a {
		text-decoration: none;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
	}
}
