
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

#layout {
	width: 100%;
	max-width: 569px;
	margin: 0 auto;
}





/*
 * FOOTER
 */
footer {
	background-color: black;
	color: white;
	padding: 6.25%;
	text-align: right;
}
footer p {
	margin: 0;
	font-size: 12px;
	line-height: 18px;	
}
footer p.headline {
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
}
footer p.legal {
	font-size: 10px;
	line-height: 16px;
}
footer a {
	color: #f7001f;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}
footer .logo {
	margin: 15px 0;
}